{% extends "dashboard_layout.jinja2" %}
{# content #}
{% block content %}
<div class="row text-center my-3">
  <h3 class="col-sm-12">{{ sub_title }}</h3>
</div>

<div class="mt-3">
  <table class="table table-striped caption-top-">
    <div class="text-black text-end d-flex justify-content-between">
      <h6 class=" fs-5">{{ ''.join([current_user.name, ' - ', current_user.email.upper(),' - ',current_user.team_name]) if is_member
        else
        ''.join([current_user.name, ' - ', current_user.email.upper()]) }}</h6>
      <h6 class=" fs-5">MyTotalPoint:<b>{{ utils['my_points'](submits,is_member) }}</b></h6>
    </div>
    <thead>
      <tr>
        <th>Work Title</th>
        <th>Work Type</th>
        <th>Global Code</th>
        <th>Team Code</th>
        <th>Link</th>
        <th>DriveLink</th>
        <th>Design</th>
        <th>File Edit</th>
        <th>File InReview</th>
        <th>Voice</th>
        <th>Translate</th>
        <th>Correction</th>
        <th> Notes</th>
        <th>SubmitStatus</th>
        <th>Submited Date</th>
      </tr>
    </thead>
    <tbody>
      {% for submit in submits|sort(attribute='submit_status.name', reverse=False)%}
      <tr>
        <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{ submit.title }}">{{
          utils['text_short'](submit.title, 6,
          '...') if
          submit.title != None else "" }}</td>
        <td>{{ submit.category.name }}</td>
        <td class="text-nowrap">{{ submit.global_code }}</td>
        <td class="text-nowrap">{{ submit.team_code }}</td>
        <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ submit.link }}"><a
            href="{{ submit.link }}" target="_blank">{{ '<i class="bx bx-link" style="color:red"></i>' if submit.link !=
            None
            }}</a></td>
        <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ submit.disk_link }}"><a
            href="{{ submit.disk_link }}" target="_blank">{{ '<i class="bx bxs-disc" style="color:red"></i>' if
            submit.disk_link
            != None }}</a></td>
        {# Design, File Edit, File InReview, Voice, Translate, Correction #}
        <td>{{ utils['my_operation_points'](submit, 'Design<', is_member) }}</td>
        <td>{{ utils['my_operation_points'](submit, 'Edit<', is_member) }}</td>
        <td>{{ utils['my_operation_points'](submit, 'InReview<', is_member) }}</td>
        <td>{{ utils['my_operation_points'](submit, 'Voice<', is_member) }}</td>
        <td>{{ utils['my_operation_points'](submit, 'Translate<', is_member) }}</td>
        <td>{{ utils['my_operation_points'](submit, 'Correction<', is_member) }}</td>

        <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{ submit.comment }}">{{
          utils['text_short'](submit.comment,
          10, '...') if
          submit.comment != None else "" }}</td>
        <td>{{ submit.submit_status.name }}</td>
        <td>{{ submit.created_on.strftime("%m-%d-%Y %H:%M:%S") }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}