{% extends "dashboard_layout.jinja2" %}
{# content #}
{% block content %}
<div class="row text-center my-3">
  <h3 class="col-sm-12">{{ sub_title }}</h3>
</div>

{# {% block flash_message %}
{% endblock flash_message %} #}
<div class="form-out">
  <form action="{{ request.path }}" method="post">
    {{ form.csrf_token }}

    {% if current_user.team_id != None %}
    <div class="row my-3">
      <div class="col-sm-6 mb-3">
        {{ form.name.label }}
        {{ form.name(value=current_user.name) }}
      </div>
      <div class="col-sm-6 mb-3">
        {{ form.team_name.label }}
        {{ form.team_name(value=current_user.team_name) }}
      </div>
    </div>
    {% else %}
    <div class="row my-3">
      <div class="col-sm-6 mb-3">
        {{ form.name.label }}
        {{ form.name(value=current_user.name) }}
      </div>
      <div class="col-sm-6 mb-3">
        {{ form.email.label }}
        {{ form.email(value=current_user.email) }}
      </div>
    </div>
    {% endif %}

    {# #}
    {# <div class="col-sm-6">
      {{ form.password.label }}
      {{ form.password(value=current_user.password) }}
    </div>
    <div class="col-sm-6">
      {{ form.confirm.label }}
      {{ form.confirm(value=current_user.password) }}
    </div> #}
    {# #}
    <div class="row my-3">
      <div class="col-sm-6 mb-3">
        {{ form.discord.label }}
        {{ form.discord(value="" if current_user.discord == None else current_user.discord) }}
      </div>
      <div class="col-sm-6 mb-3">
        {{ form.farm.label }}
        {{ form.farm(value="" if current_user.farm == None else current_user.farm) }}
      </div>
    </div>
    <div class="row my-3">
      {# #}
      <div class="col-sm-6 mb-3">
        {{ form.twitter.label }}
        {{ form.twitter(value="" if current_user.twitter == None else current_user.twitter) }}
      </div>
      {# #}
      <div class="col-sm-6 mb-3">
        {{ form.gettr.label }}
        {{ form.gettr(value="" if current_user.gettr == None else current_user.gettr) }}
      </div>
    </div>

    <div class="row my-3">
      {# #}
      <div class="col-sm-12 mb-3">
        {{ form.theme.label }}
        {{ form.theme }}
      </div>
    </div>
    <div class="col-sm-6 mb-3"></div>
    {# #}
    <div class="col-sm-12 d-flex justify-content-end mt-5">
      <div class="col-sm-2">{{ form.submit() }}</div>
    </div>
  </form>
</div>
{% endblock content %}