{% extends "dashboard_layout.jinja2" %}
{# content #}
{% block content %}

<div class="row text-center my-3">
  <h3 class="col-sm-12">{{ sub_title }}</h3>
</div>

<div class="d-flex justify-content-end">
  <h5 style="letter-spacing: 2px;">TeamNumber：<b>{{ utils['get_count'](teams) }}</b></h5>
</div>
<div class="mt-2 table-responsive-sm">
  {% for team in teams %}
  <div class="d-flex justify-content-between">
    <div>
      <h5>{{ team.team_name }}, {{ team.email.upper() }}</h5>
    </div>
    <div>
      <h5>TotalPoint:<b>{{ utils['team_points'](team) }}</b></h5>
    </div>
  </div>
  <table class="table table-striped mb-5 mt-2 border border-primary border-1">
    <thead>
      <tr>
        <th>Work Title</th>
        <th>Work Type</th>
        <th>Global Code</th>
        <th>Team Code</th>
        <th>Link</th>
        <th>DriveLink</th>
        <th>Design</th>
        <th>File Edit</th>
        <th>File InReview</th>
        <th>Voice</th>
        <th>Translate</th>
        <th>Correction</th>
        <th> Notes</th>
        <th>SubmitStatus</th>
        <th>Submited Date</th>
        {# <th>PointNumber</th> #}
      </tr>
    </thead>
    <tbody>
      {# {% for submit in team.submits|sort(attribute='point', reverse=True) %} #}
      {% for submit in team.submits|sort(attribute='submit_status.name', reverse=False) %}
      <tr>
        <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-animation='true' title="{{ submit.title }}">{{
          utils['text_short'](submit.title, 6, '...') if submit.title != None else "" }}</td>
        <td>{{ submit.category.name }}</td>
        <td class="text-nowrap">{{ submit.global_code }}</td>
        <td class="text-nowrap">{{ submit.team_code }}</td>
        <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ submit.link }}"><a
            href="{{ submit.link }}" target="_blank">{{ '<i class="bx bx-link" style="color:red"></i>' if submit.link !=
            None }}</a></td>
        <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ submit.disk_link }}"><a
            href="{{ submit.disk_link }}" target="_blank">{{ '<i class="bx bxs-disc" style="color:red"></i>' if
            submit.disk_link != None }}</a></td>
        {# Design, File Edit, File InReview, Voice, Translate, Correction #}
        <td>{{ utils['account_operation_points'](submit, 'Design<') }}</td>
        <td>{{ utils['account_operation_points'](submit, 'Edit<') }}</td>
        <td>{{ utils['account_operation_points'](submit, 'InReview<') }}</td>
        <td>{{ utils['account_operation_points'](submit, 'Voice<') }}</td>
        <td>{{ utils['account_operation_points'](submit, 'Translate<') }}</td>
        <td>{{ utils['account_operation_points'](submit, 'Correction<') }}</td>

        <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{ submit.comment }}">{{
          utils['text_short'](submit.comment, 10, '...') if submit.comment != None else "" }}</td>
        <td>{{ submit.submit_status.name }}</td>
        <td>{{ submit.created_on.strftime("%m-%d-%Y %H:%M:%S") }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</div>
{% endblock content %}