<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <link rel="shortcut icon" href="/static/dist/img/icon.png" type="image/x-icon" />
  <title>Page Not Found</title>
  <style>
    * {
      font-family: 'Courier New', Courier, monospace;
    }

    body {
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
      background-image: url("/static/dist/img/nfsc_flag.svg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-color: #161e6c;
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="mx-5 my-5">
    <h5><a href="/">Back To Main</a></h5>
  </div>
</body>

</html>